.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(45deg, #f5f5f5, #dde9e2); /* Thay đổi màu nền thành gradient */
}

.App h1 {
  font-size: 80px;
  font-weight: 900;
  margin: 40px 0;
  text-align: center;
  letter-spacing: 4px;
  -webkit-text-stroke: 3px #dde9e2;
  color: #2E8B57;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Thêm bóng đen cho text */
}

.App footer {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  text-align: center;
  color: #000;
  background-color: #dde9e2; /* Thêm màu nền cho footer */
  padding: 10px; /* Thêm padding cho footer */
}

.App a {
  color: #2E8B57;
  text-decoration: underline;
  transition: color 0.5s ease; /* Thêm hiệu ứng chuyển đổi màu sắc */
}

.App a:hover {
  color: #1e6640;
}